body {
    padding: 0;
    margin: 0;
    text-transform: none;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}

table tr td {
    border: none;
    border-collapse: collapse;
    padding: 5px;
}

#map-var {
    /*height: 300px;*/
    /*width: 100%;*/
    padding: 0;
    position: absolute !important;
    top: 0 !important;
    right: 0;
    bottom: 0 !important;
    left: 0 !important;
}

.plain-h{
    font-weight: normal;
}

.plain-a{
    background-color: #e9e9e9;
    color: black;
    font-weight: bold;
    text-decoration: none;
}